/* Theme Palette */
:root {
    --deep-pink: #c2185b;
    --soft-pink: #ffe4ef;
    --accent-pink: #ff69b4;
    --main-pink: #e91e63;
    --off-white: #fff8f6;
    --mid-grey: #222;
}

/* Universal Box Model */
html {
    box-sizing: border-box;
    min-width: 400px;
}
*, *::before, *::after {
    box-sizing: inherit;
}

::selection, ::-moz-selection {
    background: var(--accent-pink);
    color: var(--deep-pink);
}

/* Typography */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

html {
    background: var(--off-white);
    color: var(--deep-pink);
    font-size: 10px;
    font-family: 'Montserrat', Arial, sans-serif;
    line-height: 1.2;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    font-size: 1.8rem;
}

h1 {
    font-size: 4.5rem;
}

h2 {
    font-size: 4.2rem;
}

h3 {
    font-size: 2.3rem;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--main-pink);
}

p, li {
    font-size: 2rem;
    line-height: 1.5;
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    box-shadow: inset 0 -0.5em var(--soft-pink);
    color: var(--main-pink);
    font-weight: 600;
    text-decoration: none;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

a:hover {
    box-shadow: inset 0 -1.5em var(--accent-pink);
    color: var(--off-white);
}

.white-text {
    color: var(--off-white) !important;
}

.pink-text {
    color: var(--accent-pink);
}

.text-center {
    text-align: center !important;
}

